@model RateCalculation.Models.RentCalculation

@{
    ViewData["Title"] = "Calculation";
}

<h1>Calculation</h1>

<div>
    <h4 style="color:blue">@ViewBag.name</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HallOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallOwner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostPerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostPerDay)
        </dd>
        <p class="fw-bold">Renting from @ViewBag.start to @ViewBag.end</p>
        <dt class="col-sm-2">Total Cost</dt>
        <dd class="col-sm-10">@ViewBag.totalCost</dd>
       
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
